body {
    background: #eeeeee;
    font-family: 'Proxima Nova Rg';
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    padding: 20px 0px;
    background: #0E94F7;
}

.hero {
    background: url(../images/hero.jpg);
    background-size: cover;
    height: 100%;
    background-position: 0;
    box-shadow: 0px 1px 6px 0px #7d7d7d inset;
    position: absolute;
    width: 100%;
    z-index: -1;
}

h1 {
    margin: 0;
    color: #0E94F7;
    font-weight: 200;
    font-size: 2.4em;
    padding-top: 20px;
    font-family: 'Proxima Nova Lt';
}

h2 {
    color: #767676;
    font-weight: 209;
    font-size: 1.8em;
    margin: 30px 0px;
    font-weight: 200;
    font-family: 'Proxima Nova Lt';
}

.hero p {
    font-size: 1.8em;
    line-height: 2em;
    color: white;
    font-weight: 200;
    letter-spacing: 1px;
    padding-left: 20px;
    margin-top: -8px;
    margin-left: 20%;
    text-shadow: 1px 1px 1px #000;
    font-family: 'Proxima Nova Lt';
}


.container {
    padding: 0;
}

button h3 {
    font-weight: 400;
    margin: 0;
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Proxima Nova Lt';
}

button p {
    font-weight: 200;
    margin: 0;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 10px;
    font-family: 'Proxima Nova Lt';
}

button span {
  font-size: 3rem;
  color: #FFFFFF;
  margin-bottom: 10px;
}

button.active span, button.active h3 {
  color: #0AE791;
  transition: color ease 0.3s;
}

.getresult {
    background: #0E94F7;
    text-align: center;
    margin: 50px 0px 0px 0px;
    padding: 16px 0px;
    border-bottom: 1px solid #2382c8;
    box-shadow: 0px 1px 1px #0E94F7;
}

.getresult:hover {
    background: #36aff5;
    box-shadow: none: border: none;
}

.ng-hide-add,
.ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important;
    /* yes, important */
}

.active {
    background: #0E7CF7;
    fill: red;
}

.cssFade {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    opacity: 1;
    position: relative;
}

.cssFade.ng-hide {
    opacity: 0;
}

.cssFade.ng-hide-remove {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}

button svg {
    height: 100%;
    fill: #FFFFFF;
    width: 60%;
}

button {
    display: flex;
    justify-content: center;
    height: 100%;
    background: #0E7CF7;
    border: none;
    flex-direction: column;
    align-items: center;
}

.active svg  {
    fill: #0AE791;
}

button:hover svg {
    fill: #0AE791;
}

path { transition: fill .4s ease; }

/*
  /////////////////// Logo /////////////////////
*/

.logo__hold {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.logo--img {
  height: 42px;
}


.citypage svg, .supplierpage svg, .countrypage svg, .airportpage svg, .regionpage svg {
    width: 90px;
    fill: #0E7CF7;
    padding: 20px;
    float: right;
}

.selected select {
    background: transparent;
    width: 268px;
    padding: 5px;
    line-height: 35px;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    color: #9999A1;
    padding-left: 0;
}

.selected {
    width: 240px;
    height: 54px;
    overflow: hidden;
    background: url(../images/arrowdown.svg) no-repeat top right;
    color: #FFFFFF;
    background-size: 6%;
    background-position: 94% 22px !important;
    transition: background-color 0.2s ease-in-out;
}

.andl {
    margin-left: 20px;
}

code:hover {
    cursor: pointer;
    text-decoration: underline;
}

code title {
    color: red;
}

.resultwrap p {
    font-family: 'Gochi Hand', cursive;
    font-size: 18px;
    margin: 0;
    color: #6f6f6f;
    margin-bottom: 0px !important;
}

.resultwrap svg {
    float: left;
    width: 28px !important;
    position: absolute;
    top: 108px;
    fill: #6f6f6f;
    padding: 0;
    margin-left: 5px;

}

.result img {
    position: absolute;
    top: 45px;
    right: 16px;
}

option {
    background: #FFFFFF;
    color: #333333;
    padding: 5px 8px;
}

.selected:hover {
    background-color: #F8F8F8;
}

.autocomplete input,
.maininput {
    height: 46px;
    width: 100%;
    padding: 0 10px;
}

label p {
    float: left;
    padding-right: 20px;
}

.sidebar {
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-x: scroll;
    z-index: 2;
}

.sidebar__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}

.search {
    background: #0e7cf7;
    padding: 12.8%;
    -webkit-box-shadow: 0px 0px 5px -3px #000 inset !important;
     -moz-box-shadow: 0px 0px 5px -3px #000 inset !important;
     box-shadow: 0px 0px 5px -3px #000 inset !important;
    font-size: 1.6em;
    color: white;
    letter-spacing: 1px;
    fill: #FFFFFF;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
.search {
    -webkit-box-shadow: -1px 1px 6px 1px #0766cf inset !important;
    -box-shadow: -1px 1px 6px 1px #0766cf inset !important;
}
}



.search a {
    font-weight: 200 !important;
    font-family: 'Proxima Nova Lt';
}

.searchmove:hover {
    color: #0AE791 !important;
    fill: #0AE791 !important;
}

.searchmove a:hover {
    color: #0AE791 !important;
    text-decoration: none;
    fill: #0AE791 !important;
}

.cardcontent p {
    margin: 20px 0px;
}

.sidegrad {
    background: #0E7CF7
}

.headtry {
    background: #FFFFFF;
    height: 111px;
    width: 80%;
    margin-left: 20%;
    padding-left: 40px;
    padding-top: 15px;
}

.citypage,
.countrypage,
.airportpage,
.supplierpage,
.regionpage {
    background: white;
    margin: 5%;
    border-radius: 4px;
    box-shadow: 0px 2px 2px #ccc;
}

.cardhead {
    background: #F8F8F8;
    height: 100px;
    padding: 1% 5%;
    box-shadow: 0px -1px 0px #eee inset;
}

.cardcontent {
    padding: 2% 5%;
}

input[type="radio"], input[type="checkbox"] {
    margin: 24px 0 0;
}

#prev {
    width: 20%;
    margin-right: 10px;
    position: relative;
    top: 5px;
    height: 34px;
}

#wrapper {
    background: #eeeeee;
    width: 100%;
    overflow: auto;
    height: 100%;
    padding-left: 100px;
    z-index: 1;
    background: rgba(169, 207, 255, 1);
}

.home {
    padding-left: 20%;
}

.result {
    padding-top: 30px;
}

.resultwrap {
    width: 100%;
    background: #F9F2F4;
    padding: 4%;
}

.form-control {
    height: 46px;
}

button:active,
button:focus,
button.active {
  background-image: none !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}


.steps__container {
  position: absolute;
  width: 100%;
  height: 100%;
}
