<div id="wrapper" class="cssFade" ng-show="!selectedButton || selectedButton === 5">
            <div class="regionpage ng-scope">
                <div class="cardhead">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490"><g><path d="M245 0C156.46 0 84.425 71.987 84.425 160.472c0 85.04 145.93 315.146 152.142 324.9 1.836 2.882 5.017 4.628 8.435 4.628 3.42 0 6.6-1.746 8.435-4.628 6.212-9.754 152.14-239.86 152.14-324.9C405.576 71.987 333.543 0 245.002 0zm0 461.127c-13.206-21.363-40.008-65.587-66.548-114.588-48.43-89.42-74.027-153.76-74.027-186.068C104.425 83.015 167.487 20 245 20c77.515 0 140.576 63.015 140.576 140.472 0 32.31-25.6 96.65-74.027 186.067-26.54 49-53.343 93.224-66.55 114.587z"/><path d="M245 76.07c-41.885 0-75.96 33.15-75.96 73.895 0 40.744 34.075 73.89 75.96 73.89s75.958-33.146 75.958-73.89c0-40.745-34.075-73.894-75.96-73.894zm0 127.785c-30.856 0-55.96-24.175-55.96-53.89 0-29.718 25.104-53.895 55.96-53.895s55.958 24.177 55.958 53.894c0 29.716-25.103 53.89-55.96 53.89z"/></g></svg>
                    <h2>Build your Region page Link</h2>
                </div>
                <div class="cardcontent">
                    <p>Please choose your country code
                            <div angucomplete-alt id="ex7" placeholder="Search countries" pause="100" selected-object="selectedCountry8" local-data="cors" search-fields="name,code" title-field="name" description-field="code" minlength="1" input-class="form-control form-control-small" match-class="highlight" image-field="pic">
                            </div>
                        </p>
                        <p>Please enter your city name*</p>
                        <div angucomplete-alt id="ex8" placeholder="Search cities" pause="100" selected-object="selectedCity" local-data="cities" search-fields="name" title-field="name" minlength="1" input-class="form-control form-control-small" match-class="highlight">
                        </div>

                         <p>Enter Your affiliate Code</p>
                        <input class="maininput" ng-model="affCode" data="affCode" placeholder="Enter your affiliate code"></input>
                        <p>Choose your language</p>
                        <div class="selected">
                            <select ng-options="lang.id as lang.name for lang in langs" ng-model="lang" data="langs" ng-model-options="{ debounce: 100 }">
                                <option style="display:none" value="">Select your language</option>
                            </select>
                        </div>
                        <br>
                          <label>
                            <p>Apply a sub-domain?</p>
                            <input type="checkbox" ng-model="checkedsub4" ng-init="checked=false" />
                        </label>
                        <label class="andl">
                            <p>Apply Affiliate Tracking</p>
                            <input type="checkbox" ng-model="checkedtrack4" ng-init="checked=false" />
                        </label>
                        <br/>
                         <span ng-show="checkedsub4" class="cssFade">
                            <p>Enter Your Sub-domain</p>
                            <input class="maininput" ng-model="affUrl" data="affUrl"></input>
                        </span>
                        <span ng-show="checkedtrack4" class="cssFade">
                            <p>Enter Your Adcamp Code</p>
                            <input class="maininput" ng-model="adCamp" data="adCamp"></input>
                            <p>Enter Your Adplat Code</p>
                            <input class="maininput" ng-model="adPlat" data="adPlat"></input>
                        </span>
                        <div class="result cssFade" ng-show="resultregion">
                        <div class="resultwrap" onclick="myFunction()">
                            <code 
                            ng-copyable 
                            data-placement="left"
                            title="Click to copy to your clipboard"
                            onmouseenter="$(this)('show')">http://{{affUrl !== "" ? affUrl : "www.rentalcars.com"}}/CityLandingPage.do?countryCode={{selectedCountry8.description}}&place={{selectedCity.title}}&affiliateCode={{affCode}}&preflang={{lang}<span ng-show="adCamp">&adcamp={{adCamp}}</span><span ng-show="adPlat">&adplat={{adPlat}}</span></code>
                            <p>click the link to copy 
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 337.782 337.782">
                                <path d="M202.97 0l-99.44 130.824h52.214c8.63 89.9-25.768 176.225-120.373 206.957 121.698.34 190.642-99.895 213.968-206.956h53.072L202.97 0z"/>
                                </svg>
                            </p>
                        </div>
                        </div>
                    </div>
                    <button class="getresult" type="button" ng-click="resultregion=true">Go</button>
            </div>
        </div>