<aside class="sidebar__container">
	<button type="button city" ng-click="hidebuttons(); selectedButton = 1" ng-class="{'active': selectedButton == 1}" ng-hide="custom" ng-init="selectedButton=6">
	<span class="icon-city"></span>
	<h3>City</h3>
	</button>

	<button type="button" ng-click="hidebuttons(); selectedButton = 2" ng-class="{'active': selectedButton === 2}" ng-hide="custom">
	<span class="icon-earth"></span>
	<h3>Country</h3>
	</button>

	<button type="button" ng-click="hidebuttons(); selectedButton = 3" ng-class="{'active': selectedButton === 3}" ng-hide="custom">
	<span class="icon-plane"></span>
	<h3>Airport</h3>
	</button>

	<button type="button" ng-click="hidebuttons(); selectedButton = 4" ng-class="{'active': selectedButton === 4}" ng-hide="custom">
	<span class="icon-car2"></span>
	<h3>Supplier</h3>
	</button>

	<button type="button" ng-click="hidebuttons(); selectedButton = 5" ng-class="{'active': selectedButton === 5}" ng-hide="custom">
	<span class="icon-map2"></span>
	<h3>Region</h3>
	</button>
</aside>
